name: Deploy to Cloudflare Pages

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy to Cloudflare Pages
    permissions:
      contents: read
      deployments: write
    env:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      CLOUDFLARE_PROJECT_NAME: next-star
      CLOUDFLARE_DIRECTORY: .vercel/output/static
      CLOUDFLARE_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      CLOUDFLARE_BRANCH: ${{ github.ref_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build with Cloudflare Pages
        run: npm run pages:build
        env:
          NODE_ENV: production

      - name: Ensure Cloudflare Pages Project Exists
        run: |
          npx wrangler pages project get "$CLOUDFLARE_PROJECT_NAME" || \
          npx wrangler pages project create "$CLOUDFLARE_PROJECT_NAME" --production-branch "main"

      - name: Deploy to Cloudflare Pages
        run: npm run pages:deploy
